<?xml version="1.0" encoding="iso-8859-1"?>
<demolauncher>
  <demos>
    <example filename="/MES/shell/run_MES.sh" name="Run" image="/MES/img/mes.jpg"/>
    <example filename="/MES/shell/run_MES_Config.sh" name="Setting" image="/MES/img/config.jpg"/>
    <example filename="/MES/shell/run_switch_app.sh" name="Downloade" image="/MES/img/download.jpg"/>  
  </demos>
</demolauncher>
